<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6VFyJh6aU9Ba5GTfwvjqORwmmeH6h96c</string>
	<key>GCM_SENDER_ID</key>
	<string>475767358760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guardian.gymCalendar</string>
	<key>PROJECT_ID</key>
	<string>gymcalendar-20206</string>
	<key>STORAGE_BUCKET</key>
	<string>gymcalendar-20206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475767358760:ios:529cdf8cdc845c5da03c1d</string>
</dict>
</plist>